.perfil_chico {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 14px;
  border-radius: 10px;
  background-color: #fb86ca;
  width: fit-content;
}

.perfil_chica {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 14px;
  border-radius: 10px;
  background-color: #22c0dc;
  width: fit-content;
}

.perfil__foto {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.perfil__nombre {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
